*{
    margin-left: auto;
    margin-right: auto;
}
/*Custom Properties*/

:root{
    --ff-title:'DotGothic16', sans-serif;
    --ff-body: 'Poppins', sans-serif;
    --ff-extra: 'Exo', sans-serif;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #FAD900;
    --clr-extra: #058465;
    --clr-additional: #002874;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/*Body Tag*/
body{
    font-family: var(--ff-body);
}
/*Logo*/
.logo{
    position: initial;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    font-family: var(--ff-title);
    float: right;   
    padding: .5em 2em;
    background: var(--clr-additional);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    color: var(--clr-dark);
    background-color: var(--clr-accent);
}
/*Navigation*/
.nav{
    text-align: center;
    padding-top: 2em;
}
.nav_item{
    display: inline;
    align-items: center;
}
.nav_link{
    padding: 1em;
    color: var(--clr-extra);
    text-decoration: none;
}

.nav_link:hover{
    color: var(--clr-accent);
}

@media (min-width: 800px) {
    .nav_link{
        padding: 2em;
    }
}
/*Home Page*/
.intro{
    position: relative;
    padding-top: 3em;
    
}
.intro_img{
    box-shadow: var(--bs);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

@media (min-width: 800px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        
    }
    .intro_img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
}
.section_home_title, .section_home_title_intro
.section_home_subtitle, .section_home_subtitle_intro{
    font-family: var(--ff-title);
    letter-spacing: 0.2em;
    text-align: center;
}

.section_home_title, .section_home_title_intro{
    color:var(--clr-additional);
}

.section_home_subtitle, .section_home_subtitle_intro{
    color: var(--clr-extra);
}
/*Home Page - Service*/
.section_summary_title{
    text-align: center;
    font-size: var(--fs-h3);
}

.home_page_services{
    margin-bottom: 2em;
}

.home_page_service{
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 1px;
    align-content: center;
}

.home_page_service_design, .home_page_service_CMS, .home_page_service_eCommerce{
    color: var(--clr-extra);
    font-family: var(--ff-title);
    font-size: var(--fs-h5);
    letter-spacing: 0.1em;
}
@media (min-width: 1000px){
    .home_page_services{
        display: flex;
        max-width: 1500px;
        margin: 0 auto;
        margin-right: auto;
        margin-left: auto;
    }

    .home_page_service + .home_page_service{
        margin-left: 5em;
    }
}

/* Home Page - Process*/
.process{
    text-align: center;
    max-width: 800px;
}
.process_step_title{
    margin-top: 2em;
}
.process_step_one, .process_step_three{
    color: var(--clr-additional);
}

/*Service Page*/
.service_title{
    text-align: center;
    font-size: var(--fs-h2);
    font-family: var(--ff-title);
}
/*Service Page - Website Service*/
.service_subtitle_website{
    color: var(--clr-dark);
    font-size: var(--fs-h4);
}
.service_website{
    text-align:center;
    max-width: 800px;
    font-family: var(--ff-extra);
    padding-bottom: 0.5em;
}
.service_design, .service_CMS{
    color:var(--clr-extra);
}
/*Service Page - Logo Design Service*/
.service_logo_design{
    text-align: center;
    max-width: 800px;
    font-family: var(--ff-extra);
    padding-bottom: 2em;
}
.service_subtitle_logo {
    color: var(--clr-extra);
    font-size: var(--fs-h4);

}
.service_logo_redesign{
    color: var(--clr-extra);
}

@media (min-width: 1000px){
    .service_title{
        font-size: var(--fs-h1);
    }
    .service_subtitle_website{
        font-size: var(--fs-h2);
    }
    .service_subtitle_logo{
        font-size: var(--fs-h2);
    }
}

/*About Me*/
.section_about_title{
    font-family: var(--ff-title);
    font-size: var(--fs-h1);
    text-align: center;
}
.section_about_skills_title{
    font-size: var(--fs-h2);
}
.section_about_skills_subtitle,.section_about_me_subtitle{
    font-size: var(--fs-h3);
}
.section_about_skills_software, .section_about_skills_languages,.section_about_skills_CMS{
    font-size: var(--fs-h4);
}
.section_about_skills_title,
.section_about_skills_subtitle,
.section_about_skills_software, 
.section_about_skills_languages,
.section_about_skills_CMS{
    font-family: var(--ff-extra);
}
.section_about_me_subtitle{
    color: var(--clr-additional);
    font-family: var(--ff-extra);
}
.section_about_intro{
    max-width: 1000px;
    text-align: center;
}
.section_about_intro_desc{
    text-align: left;
}
.section_about_intro_starter{
    color: var(--clr-extra);
    text-align: right;
    line-height: 1.5;
}
.section_about_intro_location{
    color: var(--clr-accent);
    background-color: var(--clr-dark);
    padding: 0.1em;
}
.section_about_skills{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.section_about_skills_img{
    max-width:350px;
    padding-left: 1em;
}

@media (min-width: 1000px){
    .section_about_title{
        font-size: var(--fs-h1);
    }
    
}
.section_about_me_grid_container{
    display: grid;
    
}
.section_about_me_grid_item{
    display: inline-grid;
}
/*Footer*/
.footer{
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2em 3em;
    
}
.footer a{
    text-decoration: none;
    color: var(--clr-accent);
}
.footer_link{
    font-size: var(--fs-h5);
}
.quote_footer{
    font-size: var(--fs-h4);
}
.footer_link:hover, .quote_footer:hover{
    color: var(--clr-extra);
    text-decoration: underline;
}
.social_list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
    font-size: var(--fs-h3);
    
}

.social_list_item {
    margin: 0 .5em;
}
.social_list_item:hover{
    transform: scale(1.5);
}
.social_list_link {
    padding: .5em;
}


